<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="h-100">

<head th:replace="/fragments/header.html::fragment-header('스프링 게시판')"></head>

<body class="d-flex flex-column h-100">
    <header th:replace="/fragments/nav.html::fragment-nav"></header>

<main class="flex-shrink-0">
    <div class="container">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <a href="#" class=".a-title">
                    <h3 class="mb-0 title" style="padding-bottom: 10px;">제목</h3>
                </a>
                <p class="card-text mb-auto">글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 글내용 </p>
                <div class="mb-1 text-muted" style="padding-top: 15px;">날짜</div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="/fragments/footer.html::fragment-footer"></footer>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
</body>
</html>