<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-header(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer-navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title th:text="${title}"></title>
</head>
<body>

</body>
</html>